<h1 mat-dialog-title>Edit Bookmark</h1>
<form [formGroup]="bookmarkForm" (ngSubmit)="saveBookmark(bookmarkForm.value)">
  <p>Renember to introduce a valid URL, we check if exists.</p>
  <br>
  <mat-dialog-content>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" maxlength="100">
        <mat-error *ngIf="hasError('url', 'required')">Card name is required</mat-error>
        <mat-error *ngIf="hasError('url', 'pattern')">Must be a valid URL.</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <a mat-button (click)="onClose()">Close</a>
    <button mat-button [disabled]="!bookmarkForm.valid">Save</button>
  </mat-dialog-actions>
</form>